
.wir {
    margin: 0 auto;
    max-width: 1160px;
    margin-top: 15px;
    font-family: always-in-my-heart;
    color:#DE8BA5;
    font-size: 30px;
}

.cookie2 {
    padding-left: 5px;
    padding-top: 5px;
    font-size: 45px;

    font-family: always-in-my-heart;

}
.cookie{
    padding-left: 5px;
    padding-top: 5px;
    font-size: 45px;

    font-family: always-in-my-heart;
}
.hometext {
    font-family: always-in-my-heart;
    font-size: 50px;
    text-align: center;
    margin-top: 65px;
    background-color: #DE8BA5;
    color: white;
}
.hometext2 {
    font-family: always-in-my-heart;
    font-size: 50px;
    text-align: left;
    background-color: #DE8BA5;
    color: white;
}

.hometext2  > div{
    margin: 0 auto;
    max-width: 1160px;
}

.picture {
    width: 500px;
    height: 100px;
    margin-top: 10px;
}
.picturecup {
    width: 120px;
    height: 100px;
}

.homelay {
    font-family: cookie-monster;
    color: #DE8BA5;
    background-color:white ;
    opacity: 0.9;
    font-size: xx-large;
    width: 650px;
    position: absolute;
    margin-left: 250px;
    margin-top: 170px;
    padding-left: 20px;
    -webkit-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.75);

}
.parallax {
    /* The image used */
    background-image: url("../assets/banner.jpg");

    /* Set a specific height */
    height: 350px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxkontakt {
    /* The image used */
    background-image: url("../assets/image.jpg");

    /* Set a specific height */
    height: 220px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.kko{
    text-align: left;
    font-family: always-in-my-heart;
    font-size: 23px;
}


.fuckshit td{
    padding: 15px;
    text-align: left;
    font-style: italic;
    background: #eee;
    border: 1px solid #DDD;
    background: linear-gradient(to bottom, #DE8BA5 -15%, #FFFAFE 100%);
    box-shadow: 1px 2px 4px rgba(0,0,0, .2);
}
.fuckshit th{

    font-family: always-in-my-heart;
    font-size: 32px;
    padding: 15px;
    text-align: left;
    font-style: italic;
    background: #eee;
    border: 1px solid #DDD;
    background: linear-gradient(to bottom, #DE8BA5 -15%, #FFFAFE 100%);
    box-shadow: 1px 2px 4px rgba(0,0,0, .2);
}


.price {
    display:block;
    margin-top: 40px;
    background-color: rgba(222, 139, 165, 0.22);
    width: 350px;
    padding: 10px;
}

.price > div:first-of-type{

    height: 50px;
    display: flex;
}
.price > div:first-of-type > div{
    height: 100%;
}
.price > div:first-of-type > div:first-of-type{

    width: 280px;
    background-color: rgba(222, 139, 165, 0.72);
}
.price > div:first-of-type > div:nth-of-type(2){

    width: 69px;
    background-color: rgba(222, 139, 165, 0.72);
}
.price > div:first-of-type > div:first-of-type >label{
    font-family: always-in-my-heart;
    font-size: 32px;
    padding: 15px;
    text-align: left;
    font-style: italic;
    color: white;
    margin-top: -7px;
    display: inline-block;
    margin-left: -10px;
}
.price > div:first-of-type > div:nth-of-type(2) >label{
    font-family: always-in-my-heart;
    font-size: 32px;
    padding: 15px;
    text-align: left;
    font-style: italic;
    color: white;
    margin-top: -7px;
    display: inline-block;
    margin-left: -18px;

}

.price >div:nth-of-type(2) > div{
    height: 50px;
    display: flex;
}

.price >div:nth-of-type(2) >div > div:first-of-type{
    width: 280px;
}

.price >div:nth-of-type(2) >div > div{
    height: 50px;
    display: flex;
}
.price >div:nth-of-type(2) > div > div:first-of-type>label{
    font-family: always-in-my-heart;
    font-size: 28px;
    padding: 15px;
    text-align: left;
    font-style: italic;
    color: rgb(224, 109, 145);
    margin-top: -7px;
    display: inline-block;
    margin-left: -10px;
}


.price > div:nth-of-type(2) >div > div:nth-of-type(2) >label{
    font-family: always-in-my-heart;
    font-size: 28px;
    padding: 15px;
    text-align: left;
    font-style: italic;
    color: rgb(224, 109, 145);
    margin-top: -7px;
    display: inline-block;
    margin-left: -18px;

}


table {
    border: 5px;
    padding:10px;
}

.map{
    display: inline-block;
}
.Lieferung {
    display: inline-block;
}
.preisubcontainer {
    margin: 0 auto;
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
}

.cookie  > div{
    margin: 0 auto;
    max-width: 1160px;
}

.uberunsvcontainer{
    margin: 0 auto;
    max-width: 1160px;
}

.uberunsvcontainer > div:first-of-type {

    display: flex;
    justify-content: space-around;

}

.uberunsvcontainer > div:first-of-type >div {
    background-color: rgba(222, 139, 165, 0.22);
    width: 350px;
    padding: 10px;
    height: 288px;
    margin-top: 30px;
}
.uberunsvcontainer > div:first-of-type >div > div:first-of-type{
    background-color: rgba(222, 139, 165, 0.72);
    padding: 1px;
    margin-bottom: 10px;
}
.uberunsvcontainer > div:first-of-type >div > div:first-of-type > label{
    font-family: always-in-my-heart;
    font-size: 32px;
    padding: 15px;
    text-align: left;
    font-style: italic;
    color: white;
    margin-top: -7px;
    display: inline-block;
    margin-left: -10px;
    padding-bottom: 7px;
}

.uberunsvcontainer > div:first-of-type >div > div > label{
    font-family: always-in-my-heart;
    font-size: 28px;
    padding: 15px;
    text-align: left;
    font-style: italic;
    color: rgb(224, 109, 145);
    margin-top: -7px;
    display: inline-block;
    margin-left: -10px;
    padding-bottom: 0px;
}
.uberunsvcontainer > div:first-of-type >div > div > a{
    font-family: always-in-my-heart;
    font-size: 28px;
    padding: 15px;
    text-align: left;
    font-style: italic;
    color: rgb(224, 109, 145);
    margin-top: -7px;
    display: inline-block;
    margin-left: -10px;
    text-decoration: none;
    padding-bottom: 0px;
}


.uberunsvcontainerimpressum  > div:first-of-type >div {
    width: 545px!important;
    height: 970px!important;
}

.uberunsvcontainerimpressum h2{
    font-family: Roboto, "Helvetica Neue", sans-serif!Important;
    font-size: 17px;
    padding: 15px;
    text-align: left;
    font-style: normal!important;
    color: rgb(224, 109, 145);
    margin-top: -7px;
    display: inline-block;
    margin-left: -10px;
    padding-bottom: 0px;
}

.uberunsvcontainerimpressum > div:first-of-type >div > div > label {
    font-family: Roboto, "Helvetica Neue", sans-serif!Important;
    font-size: 17px;
    padding: 15px;
    text-align: left;
    font-style: normal!important;
    color: rgb(224, 109, 145);
    margin-top: -7px;
    display: inline-block;
    margin-left: -10px;
    padding-bottom: 0px;
}