<div id="menu-home">
    <md-card class="homelay">
    <div >
<h1 style="opacity: 1 !important" >We bake it, you take it! </h1>
    </div>
    </md-card>
</div>
</div>
<div id="menu-service">
</div>
<div id="menu-price">
    Hallo wieso geht das nicht

</div>
<div id="menu-footer">
    <md-toolbar>
        <span class="cookie"> Das sind wir: </span>
    </md-toolbar>
    <md-card class="kontakt" >
        <img class="kontakt-img"  src="assets/Silvia.jpg"/>
        <h4>Silvia Yildiz </h4>
    </md-card>
    <md-card class="kontakt">
            <img class="kontakt-img" src="assets/mai.png"/>
            <h4>Maike Weingärtner </h4>
    </md-card>
    <md-toolbar>
        <span class="cookie"> Und hier findest du uns: </span>
    </md-toolbar>

</div>

</div>