<link href="css/home.css" rel="stylesheet">

<div id="menu-home">
    <div style="background-color: black">
        <div class="parallax" style="opacity:0.7">
        </div>

    </div>
    <div class="hometext">
        Liebe geht durch den Magen und das Süße kommt von uns..
    </div>
    <div style="text-align: center">
    <img src="./assets/herz.jpg" class="picture">
    <img src="./assets/cupcake-2.png" class="picturecup">
    <img src="./assets/herzspiegel.png" class="picture">
    </div>

</div>
<div id="menu-price" ng-init="getZutaten()">

    <div style="background-color: black">
        <div class="parallax" style="opacity:0.7">
        </div>
    </div>
    <div class="hometext2">
        <div>
            Unsere Preisübersicht..
        </div>
    </div>
    <div class="preisubcontainer">

        <div class="price">
            <div>
                <div>
                    <label>Art des Gebäcks</label>

                </div>
                <div>
                    <label>Preis</label>
            </div>

        </div>
            <div>
                <div ng-repeat="geb in $root.gebaeck">
                    <div>
                        <label>{{geb.name}}</label>

                    </div>
                    <div>
                        <label>{{geb.preis | currency}} <label>
                    </div>
                </div>
            </div>
        </div>
        <div class="price">
            <div>
                <div>
                    <label>Füllung des Gebäcks</label>

                </div>
                <div>
                    <label>Preis</label>
                </div>

            </div>
            <div>
                <div ng-repeat="geb in $root.fuellung">
                    <div>
                        <label>{{geb.name}}</label>

                    </div>
                    <div>
                        <label>{{geb.preis | currency}} <label>
                    </div>
                </div>
            </div>
        </div>
        <div class="price">
            <div>
                <div>
                    <label>Topping auf dem Gebäck</label>

                </div>
                <div>
                    <label>Preis</label>
                </div>

            </div>
            <div>
                <div ng-repeat="geb in $root.toppings">
                    <div>
                        <label>{{geb.name}}</label>

                    </div>
                    <div>
                        <label>{{geb.preis | currency}} <label>
                    </div>
                </div>
            </div>
        </div>
       <!--
        <div class="price">
            <table class="fuckshit">
                <tr>
                    <th>Gebäckart</th>
                    <th>Preis</th>
                </tr>
                <tr ng-repeat="geb in $root.gebaeck">
                    <td>{{geb.name}}</td>
                    <td>{{geb.preis}}</td>
                </tr>

            </table>
        </div> -->


    </div>
    </div>
<div id="menu-footer">
    <div>
        <div class="parallaxkontakt" style="opacity:0.7">
        </div>
        <md-toolbar>
            <span class="cookie">
                     <div>
                Über uns..
                         </div>

                </span>
        </md-toolbar>
        <div class="wir">"Die HOMEBAKERY ist ein seit über 20 Jahren in Mannheim geführtes Familienunternehmen, welches seine Kunden mit süßen Backwaren verwöhnt.
        Unsere Kunden sind für uns ein Teil unserer Famile, und ihre Zufriedenheit hat für uns höchste Priorität.</br>
            Deshalb bieten wir seit neustem einen Online Shop an um Sie, auch zu Hause mit unseren heißgeliebten Backwaren zu beglücken.
            Für Ihre individuellen Wünsche können Sie uns auch selbstverständlich telefonisch kontaktieren." </br>
            Mit süßen Grüßen</br>
            </br>
            Maike & Silvia
        </div>

        <md-toolbar style=" margin-top: 40px;">
            <span class="cookie">
                <div>Hier finden Sie uns..</div> </span>
        </md-toolbar>
        <div class="uberunsvcontainer">
            <div>
                <div>
                    <div>
                        <label>
                            Geschäftsführung
                        </label>
                    </div>
                    <div>
                        <label>
                            Silvia Yildiz & Maike Weingärtner
                        </label>
                    </div>
                    <div>
                        <label>
                            Neckarauer Str. 217
                        </label>
                    </div>
                    <div>
                        <label>
                            68199 Mannheim
                        </label>
                    </div>
                    <div>
                       <a href="tel:+49621/101010">0621/101010</a>
                    </div>
                    <div>
                       <a href="mailto:geschaeftsfuehrung@homebakery.de">geschaeftsfuehrung@homebakery.de</a>
                    </div>
                </div>
                <div>
                    <div>
                        <label>
                            Lieferzeiten
                        </label>
                    </div>
                    <div>
                        <label>
                            Montag-Freitag:	10:00-16:00Uhr
                        </label>
                    </div>
                    <div>
                        <label>

                            Samstag:	09:00-12:00Uhr                       </label>
                    </div>
                    <div>
                        <label>

                            Sonntag:	geschlossen                       </label>
                    </div>
                </div>
            </div>
            <div>
                <iframe
                        width="1160"
                        height="400"
                        frameborder="0" style="border:0; margin-top: 30px;"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBtrSGPavwyIh483mMBo-ydNhxlnnmSk6s
    &q=Neckarauerstrasse+217.,+68199+Mannheim,+Germany" allowfullscreen>
                </iframe>
            </div>
        </div>
        <md-toolbar>
            <span class="cookie">
                     <div>
Impressum                         </div>

                </span>
        </md-toolbar>
        <div class="uberunsvcontainer uberunsvcontainerimpressum">
            <div>
                <div>
                    <div>
                        <label>
                            IMPRESSUM
                        </label>
                    </div>
                    <div>
                        <label>
                            Angaben gemäß § 5 TMG:
                        </label>
                    </div>
                    <div>
                        <label>
                            Silvia Yildiz & Maike Weingärtner GmbH
                        </label>
                    </div>
                    <div>
                        <label>
                            Geschäftsführer:  Silvia Yildiz
                        </label>
                    </div>
                    <div>
                        <label>
                            Neckarauer Str. 217                        </label>
                    </div>
                    <div>
                        <label>
                            68199 Mannheim

                        </label>
                    </div>
                    <div>
                        <label>
                            Vertreten durch Silvia Yildiz , Anschrift wie Firmenanschrift


                        </label>
                    </div>
                </div>
                <div>
                    <div>
                        <label>
                            HAFTUNGSAUSSCHLUSS
                        </label>
                    </div>
                    <div>
                        <h2>HAFTUNG FÜR INHALTE</h2>
                        <label>
                            Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
                        </label>
                    </div>
                    <div>
                        <h2>HAFTUNG FÜR LINKS</h2>
                        <label>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</label>
                    </div>
                    <div>
                        <h2>URHEBERRECHT</h2>
                        <label>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen</label>
                    </div>
                </div>
            </div>

        </div>
</div>

</div>